<section class="skills-section py-1">
  <div class="container-style">
    <h2 class="text-center mb-4">Skills and Experience</h2>

    <div *ngFor="let group of groupedSkills">
      <h6 class="text-left mt-4">{{ group.type }}</h6> <!-- Group Title -->

      <div class="row">
        <div class="col-md-2" *ngFor="let skill of group.skills">
          <div class="card mb-4 text-center">
            <div class="card-body">
              <img [src]="'assets/images/skills/' + skill.imgname" 
                   alt="{{ skill.name }}" 
                   class="img-fluid mb-3" 
                   style="height: 60px;">
              <h5 class="card-title">{{ skill.name }}</h5>
              <app-skillrating [rating]="skill.rate" [maxStars]=5></app-skillrating>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
